.life {
    position: fixed;
    top: calc(0vh + 0.5em);
    left: calc(100vw - 26.5em);  
    
    width: 200px;
    height: 40px;

    background-color: red;
}

.buttons {
    position: fixed;
    top: calc(0vh + 4.75em);
    left: calc(100vw - 25em);   
}